@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AntiMatrix";
  src: url("/fonts/antimatrix.ttf");
}

@font-face {
  font-family: "MatrixCodeNFI";
  src: url("/fonts/matrix-code-nfi.ttf");
}
